# Information retrival project
-user is reading about sachin blog
-which other post u can recomend to that person
-query A- Document A
- which docs are similar to Docs A and pass on that as well

In [1]:
import pandas as pd

In [2]:
people = pd.read_csv('people_data.csv')

In [3]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...
1,<http://dbpedia.org/resource/Polyana_L%C3%B3pez>,Polyana L%C3%B3pez,polyana lpez born circa 1985 is an argentine a...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [4]:
#Replace all null values with "NO Data"
people.fillna("No Data", inplace = True )

# using tfidf

In [5]:
#converting text columns into tfidf values

from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer() 
X_train_tfidf = tfidf_vect.fit_transform(people.text)

In [6]:
X_train_tfidf

<59071x548412 sparse matrix of type '<class 'numpy.float64'>'
	with 10244123 stored elements in Compressed Sparse Row format>

In [7]:
people.shape

(59071, 3)

In [8]:
from sklearn.neighbors import NearestNeighbors

In [9]:
nn = NearestNeighbors(n_neighbors=10)

In [10]:
nn_fitted  = nn.fit(X_train_tfidf)

# Find  Neighbors

In [11]:
index = people[people.name.str.contains("amitabh", case = False)].index[0]
index

48151

In [12]:
# now find which all people are siilar to amitabah in people text

In [13]:
X_train_tfidf[index,:] #tfidf vector for amitabh

<1x548412 sparse matrix of type '<class 'numpy.float64'>'
	with 145 stored elements in Compressed Sparse Row format>

In [14]:
score, neighbours = nn_fitted.kneighbors(X_train_tfidf[index,:])

In [16]:
score[0]

array([0.        , 1.1450037 , 1.14516594, 1.15612104, 1.16326194,
       1.1887013 , 1.1989314 , 1.2017944 , 1.20739367, 1.20792693])

In [17]:
neighbours[0]

array([48151, 23229, 13267, 58790, 25394, 26948,   331, 41897, 50670,
        7504])

In [19]:
people.iloc[neighbours[0]]

,URI,name,text
48151,<http://dbpedia.org/resource/Amitabh_Bachchan>,Amitabh Bachchan,amitabh harivansh bachchan ipa mtab bttn born ...
23229,<http://dbpedia.org/resource/Dilip_Kumar>,Dilip Kumar,dilip kumar born muhammad yusuf khan on 11 dec...
13267,<http://dbpedia.org/resource/Aamir_Khan>,Aamir Khan,aamir khan pronounced amr xan born mohammed aa...
58790,<http://dbpedia.org/resource/Jaya_Bachchan>,Jaya Bachchan,jaya bachchan bengali hindi urdu born jaya bha...
25394,<http://dbpedia.org/resource/Mohanlal>,Mohanlal,mohanlal viswanathan nair born 21 may 1960 bet...
26948,<http://dbpedia.org/resource/Chiranjeevi>,Chiranjeevi,chiranjeevi born konidela siva sankara vara pr...
331,<http://dbpedia.org/resource/Mammootty>,Mammootty,mammootty born as muhammad kutty ismail panipa...
41897,<http://dbpedia.org/resource/K._J._Yesudas>,K. J. Yesudas,kattassery joseph yesudas malayalam born 10 ja...
50670,<http://dbpedia.org/resource/Jasbir_Singh_Bajaj>,Jasbir Singh Bajaj,drjasbir singh bajaj is an indian physician an...
7504,<http://dbpedia.org/resource/Rajinikanth>,Rajinikanth,rajinikanth born shivaji rao gaekwad 12 decemb...

# Unknown Actor

In [22]:
some_actor = "he is the best of his time"
unkown_actor = tfidf_vect.transform([some_actor])# do not use fit transform

In [24]:
score, neighbours = nn_fitted.kneighbors(unkown_actor)

In [25]:
people.iloc[neighbours[0]]

,URI,name,text
30161,<http://dbpedia.org/resource/Enzo_Zelocchi>,Enzo Zelocchi,enzo zelocchi born 10 october 1983 is an itali...
20551,<http://dbpedia.org/resource/Tim_Taylor_(produ...,Tim Taylor (producer),professor timothy tim taylor is a british tele...
47383,<http://dbpedia.org/resource/Alfonso_Cuar%C3%B3n>,Alfonso Cuar%C3%B3n,alfonso cuarn orozco spanish pronunciation alf...
29112,"<http://dbpedia.org/resource/Richard_Best,_Bar...","Richard Best, Baron Best",richard stuart best baron best obe born 22 jun...
46069,<http://dbpedia.org/resource/Joe_Glasman>,Joe Glasman,joe glasman is a british composer songwriter a...
40383,<http://dbpedia.org/resource/Reid_Coolsaet>,Reid Coolsaet,reid coolsaet born july 29 1979 is a canadian ...
36399,<http://dbpedia.org/resource/Ra%C3%BAl_Spank>,Ra%C3%BAl Spank,ral roland spank born 13 july 1988 is a german...
16293,<http://dbpedia.org/resource/Abdellah_Falil>,Abdellah Falil,abdellah falil arabic born 1976 is a moroccan ...
58261,<http://dbpedia.org/resource/Kevin_McCollum>,Kevin McCollum,kevin mccollum is one of the leading producers...
53023,<http://dbpedia.org/resource/Ray_Kimble>,Ray Kimble,ray kimble born april 19 1953 is an american t...

# Count Vect

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer() 
X_train_count = count_vect.fit_transform(people.text)

In [27]:
nn_fitted_cv = nn.fit(X_train_count)

In [28]:
score, neighbours = nn_fitted_cv.kneighbors(X_train_count[index:])